@import '~/mixins';

.details {
    width: 100vw;
    position: relative;
    right: 100vw;
    z-index: 50;
    transition: right 250ms ease;
    article {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    &.show {
        right: 0;
    }
    img {
        max-height: 300px;   
        height: auto; 
        max-width: 90%;
        width: auto;
    }
    >div {
        background: linear-gradient(hsl(172, 50%, 30%), hsl(172, 100%, 10%));
        border-radius: 1rem;
        box-shadow: 0 0 15px black;
    }
}

.mobileImg {
    border: 0.5rem solid black;
    border-radius: 1rem;
}
.desktopImg {
    border: 0.5rem solid black;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.stack {
    margin-top: 1rem;
    img {
        height: 50px;
        width: auto;
        margin: 0.5rem;
        background: linear-gradient(hsl(40, 67%, 94%), hsl(40, 67%, 84%));
        box-shadow: 0 0 5px black;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}

@media (min-width: 768px) {
    .details {
        height: 100vh;
        @include flexCenter;
        >div {
            width: 65%;
            margin: 0 auto;
        }
    }
}
@media (max-width: 768px) {
    .details {
        flex-direction: column;
        min-height: 100%;
        >div {
            width: 95%;
            margin: 0 auto;
        }
    }
}