@use 'details';
@import '../../mixins';

#container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: white;
    position: relative;
    
    h1 {
        color: white;
    }
}
@include hideScrollbar("#container");

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    transition: right 250ms ease;
    &.hide {
        right: 100vw
    }
}

.prevBtn {
    left: 0;
}
.nextBtn {
    right: 0;
}
$clr1: #dd07dd;
$clr2: #0ae9e9;

.pageBtn {
    position: fixed;
    height: 100vh;
    width: 10%;
    background: linear-gradient($clr1, $clr2 );
    color: black;
    font-size: clamp(1rem, 10vw, 20rem);
    @include flexCenter;
    cursor: pointer;
    top: 0;
    z-index: 2;
    opacity: 0.8;
    transition: all 150ms ease;
    &::before {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        content: "";
        background: linear-gradient($clr2, $clr1 );
        transition: opacity 500ms ease;
    }
    &.disabled {
        color: #b3b3b3;
        opacity: 0.2 !important;
        cursor: not-allowed;

    }
    &:not(.disabled):hover {
        &::before {
            opacity: 1;
        }
    }
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    font-size: larger;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.tile {
    overflow: hidden;
    position: relative;
    &::before {
        opacity: 0;
        background-color: black;
        position: absolute;
        content: "";
        inset: 0;
        transition: opacity 250ms ease;
    }
    img {
        width: 100%;
        border-radius: 0px 25px;
        box-shadow: 0 0 10px slateblue;
    }
    &:hover {
        .links {
            opacity: 1;
            bottom: 45%;
        }
        &::before {
            opacity: 0.85;
        }
    }
    .links {
        position: absolute; 
        opacity: 0;
        bottom: 25%
    }
}
.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: all 250ms ease;
    svg {
        color: aliceblue;
        fill: aliceblue;
    }
}

@mixin fillSvg($color) {
    fill: $color;
    color: $color;
}
.info {
    &:hover {
        $color: #1f80ff;
        @include fillSvg($color)
    }
}
.code {
    &:hover {
        $color: #f8e917;
        @include fillSvg($color)
    }
}
.external {
    &:hover {
        $color: springgreen;
        @include fillSvg($color)
    }
}
.close {
    &:hover {
        $color: red;
        @include fillSvg($color)
    }
}
