@use '../../mixins';

#quoteContainer {
    align-items: center;
    background-color: black;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: background 500ms ease;
    overflow: hidden;
}
@include mixins.hideScrollbar("#quoteContainer");

#quote-box {
    background: none;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    transition: all 500ms ease;
    position: relative;
    top: 0%;
    &::before {
        top: -2rem;
        left: -2rem;
        font-size: 10rem;
        position: absolute;
        content: open-quote;
    }
    &::after {
        bottom: 0rem;
        right: -2rem;
        font-size: 10rem;
        position: absolute;
        content: close-quote;
    }
}
#text {
    position: relative;
    font-size: 2rem;
}
#author {
    text-align: right;
    font-size: 1.5rem;
}

#quoteButtons {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

#new-quote {
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    transition: all 500ms ease;

    &:hover {
        background: inherit;
    }
}

#socialButtons svg {
    transition: all 500ms ease;
}

#new-quote:active {
    transform: scale(0.95);
}

.tags {
    --clr: gray;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    >span {
        padding: 0.25rem;
        margin-bottom: 0.5rem;
        background-color: var(--clr);
        color: black;
        margin-left: 0.5rem;
        &.inActive {
            opacity: 0.5;
        }
        &.filtered {
            border: 1px solid antiquewhite;
            box-shadow: 0 0 10px antiquewhite;
        }
        &.disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }
}

@media screen and (min-width: 768px) {
    #quote-box {
        left: 5%;
    }
    .tags {
        >span {
            background-color: var(--clr);
            color: black;
            margin-left: 0.5rem;
            cursor: pointer;
            position: relative;
            &.filtered {
                border: 1px solid antiquewhite;
                box-shadow: 0 0 10px antiquewhite;
            }
        }
    }
    #quoteContainer {
        >div {
            position: relative;
            width: 50%;
            height: 100vh;
            padding-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    #quoteContainer {
        >div {
            padding-top: 5%;
        }
    }

    #quote-box {
        width: 90%;
        background-color: white;
        margin: 0 auto;
    }

    #socialButtons {
        width: 70%;
    }
    .tags {
        margin-top: 1rem;
        >span {
            background-color: white;
            color: var(--clr);

            &.filtered {
                border: 1px solid black;
                box-shadow: 0 0 10px black;
            }

        }
    }
}