@use '~/mixins';

$width: 25px;

.main {
    width: calc(100vw - var(--adminNavWdth));
    margin-left: var(--adminNavWdth);
    .mainImgs {
        display: flex;
    }
    position: relative;
}
@include mixins.hideScrollbar('.preview');

.form {
    padding-top: 0.5rem;
    width: 90%;
    max-width: 850px;
    height: fit-content;
    background-color: var(--clrForm);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto ;
    textarea,
    input,
    button {
        position: relative;
        color: white;
        border: none;
        background: #00000050;
    }

    textarea,
    input {
        padding: 0.25rem;
        width: 100%;
        &:focus,
        &:not(:placeholder-shown) {
            outline: none;

            +label {
                top: -15px;
                font-size: 12px;
                color: --var(--clrRed);
                opacity: 1;
            }
        }
    }

    >div {
        width: 90%;
    }
    
    textarea {
        height: 12rem;
    }
    button[type="submit"] {
        margin-bottom: 1rem;
        font-size: large;
        height: 3rem;
        background: none;
        background-color: var(--clrRed);
        transition: all 250ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 5rem;
        &:hover:not(:disabled) {
            border: none;
            border-radius: .5rem;
        }
    }

    label {
        position: absolute;
        top: 5px;
        transition: all 250ms ease-in-out;
        opacity: 0.5;
    }

    input {
        height: $width;
    }
}

.formContainer {
    display: flex;
}

.adminHome {
    height: 100vh;
    @include mixins.flexCenter;
    gap: 2rem;
    flex-wrap: wrap;
}

.iconTile {
    display: grid;
    grid-template-columns: 6rem 6rem;
    background-color: var(--clrRed);
    padding: 1.25rem;
    align-items: center;
    justify-items: center;
    svg {
        width: 5rem;
        height: 5rem;
        fill: white;
    }
    >span:first-child {
        grid-row: span 2;
    }
    >span:nth-child(2) {
        font-size: large;
    }
    >span:last-child {
        font-size: larger;
    }
}
#navIndicator {
    z-index: 55;
    position: fixed;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        animation: progress 500ms linear;
        width: 100%;
        background-color: var(--clrRed);
    }
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}