.main {
    width: calc(100vw - var(--adminNavWdth));
    margin-left: var(--adminNavWdth);
    .mainImgs {
        display: flex;
    }
    .preview {
        display: flex;
        flex-wrap: wrap;
        img {
            object-fit: contain;
            &:first-child {
                width: 25%;
            }
            &:last-child {
                width: 75%;
            }
        }
    }
    form {
        min-width: 500px;
    }
}

.formContainer {
    display: flex;
}