.container {
    display: flex;
    form {
        overflow: auto;
        flex: 2;
    }
    .mainImgs {
        display: flex;
        flex: 1;
    }
    .preview {
        flex: 1;
        img {
            object-fit: contain;
        }
    }
}