#pomodoro {
    font-family: Helvetica;
    background: teal;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#controls {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    padding: 1rem;
    border-radius: 50px;
}

#outer {
    width: 500px;
}

.pomoBtn {
    width: 50px;
    font-size: 25px;
    background: none;
    border: none;
    color: white;
}

#timer-div {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: space-around;

    button {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#time-left {
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
}

.waiting {
    animation: blink 1000ms linear infinite alternate-reverse;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    #outer {
        width: 90%;
    }

    #controls h2 {
        text-align: center;
    }
}