.container {
    background-color: #141b26;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    --hgtwdth: 2rem;
    --gap: 0.25rem;
}

.letterblock {
    position: relative;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 7.5px;
    color: white;
    font-size: 1.5rem;

    >div {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div:last-child {
        top: 0;
    }
}

.colorblock {
    top: 100%;
}

.block0 {
    transition: all 500ms ease;
    top: 0;
    transition-delay: calc(0 * 250ms);
}

.block1 {
    transition: all 500ms ease;
    top: 0;
    transition-delay: calc(1 * 250ms);
}

.block2 {
    transition: all 500ms ease;
    top: 0;
    transition-delay: calc(2 * 250ms);
}

.block3 {
    transition: all 500ms ease;
    top: 0;
    transition-delay: calc(3 * 250ms);
}

.block4 {
    transition: all 500ms ease;
    top: 0;
    transition-delay: calc(4 * 250ms);
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .keyboardRow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        cursor: pointer;
        transition-delay: 1750ms;
    }
}

.gameOver {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);

    button {
        height: 2rem;
        border: none;
        background-color: springgreen;
    }
}

.correct {
    background-color: green !important;
}

.ok {
    background-color: #969635 !important;
}

.wrong {
    background-color: #6e2828 !important;
}

.row {
    display: flex;
    margin-bottom: 0.5rem;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.key {
    height: var(--hgtwdth);
    min-width: var(--hgtwdth);
    margin-right: var(--gap);

    &.longKey {
        min-width: calc(1.5 * var(--hgtwdth));
    }
}

.keyboardRow {
    margin-bottom: var(--gap);
}

.letterblock {
    height: var(--hgtwdth);
    width: var(--hgtwdth);
    margin-right: 0.25rem;
}

@media (min-width: 768px) {
    .container {
        --hgtwdth: 3.5rem;
        --gap: 0.5rem;
    }
}