@use "~/mixins";

.nav {
    left: 0;
    top: 0;
    width: 100vw;
    // position: fixed;
    background: linear-gradient(45deg, darkslategray, hsl(180, 25%, 5%));
    font-size: large;
    z-index: 99;
    box-shadow: 0 -100px 50px black;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2.5rem;
    }

    li {
        width: 10rem;
        transition: all 250ms ease;
        height: 100%;
        &:hover {
            background-color: hsl(180, 25%, 5%);
            color: var(--clrRed);
        }

        a {
            text-decoration: none;
            color: inherit;
            width: 100%;
            height: 100%;
            @include mixins.flexCenter;
        }
    }
}
.active {
    background-color: green;
    border-radius: 0 0 0.5rem 0.5rem;
}