@use "~/mixins";

.nav {
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--adminNavWdth);
    position: fixed;
    background: var(--clrForm);
    font-size: large;
    z-index: 99;
    box-shadow: 0 0 50px black;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    li {
        transition: all 250ms ease;
        height: 2.5rem;
        width: 100%;
        &:hover {
            background-color: hsl(180, 25%, 5%);
            color: var(--clrRed);
        }

        a {
            text-decoration: none;
            color: inherit;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
.active {
    background-color: #222;
    border-radius: 0 0 0.5rem 0.5rem;
}