@use "~/mixins";

.z {
    width: 100%;
    min-height: 250px;
    border: dashed 1px var(--clrRed);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &.enter {
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--clrRed);
            z-index: 3;
        }
    }
    &:first-child {
        flex: 1;
    }
    &:last-child:not(&:first-child) {
        flex: 2;
        border-left: none;
    }
    img {
        pointer-events: none;
    }
    &:not(:has(.multi)) {
        @include mixins.flexCenter;
    }
}

.preview {
    position: relative;
    pointer-events: none;
    --prog: 0;
    height: 350px;
    width: 100%;
    @include mixins.flexCenter;
    &.multi {
        width: 33.33333333333333333%;
    }

    img {
        display: block;
        max-height: 100%;
        width: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        transition: width 500ms ease;
        width: calc(var(--prog) / 100 * 100%);
        height: 5px;
        background-color: red;
        bottom: 0;
        left: 0;
    }
}