@use '~/mixins';

.nav {
    position: fixed;
    top: 0;
    right: 2rem;
    --navHeight: 100px;
    --duration: 250ms;
    --margin: 0.5rem;
    --width: 18rem;
    z-index: 5;
    $hovered: hsl(0, 0%, 23%);
    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    button {
        position: absolute;
        border: none;
        background: none;
        right: 0;
    }
    >nav {
        height: calc(var(--navHeight) + 2 * var(--margin));
        transition: height var(--duration) ease;
        margin-top: 2rem;
        
        background: #222;
        position: relative;
        width: var(--width);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        >ul {
            position: absolute;
            list-style: none;
            margin: var(--margin) 0;
            top: 0;
            padding: 0;
        }
        li {
            padding: 0.25rem 1rem;
            display: flex;
            align-items: center;
            height: 2.5rem;
            width: calc(0.9 * var(--width));
            cursor: pointer;
            place-items: center;
            border-radius: 0.5rem;
            &:hover {
                background-color: $hovered;
            }
            svg {
                margin-left: auto;
            }
        }
    }
    a {
        text-decoration: none;
    }
    header {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            padding: 0.5rem;
            &:hover {
                background-color: $hovered;
            }
        }
        span {
            font-weight: bold;
        }
    }
}
.active {
    color: springgreen;
    font-style: italic;
}