html {
  scroll-snap-type: y mandatory;
}

html, body {
  overscroll-behavior-y: contain; /* Prevents refresh while allowing normal scroll */
}

:root {
    --neon-pink: #F0F;
  --neon-green: hsl(150 100% 50%);
}

body {
  font-family: 'Nunito', sans-serif;
  background: oklch(21% 0.006 285.885);

  &.no-scroll {
    overflow: hidden;
  }
}

button {
  border: none;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: "Stick No Bills", sans-serif;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}