@import 'mixins', 'variables', "./animations";

* {
    box-sizing: border-box;
}
:root {
    --clrActive: springgreen;
    --adminNavWdth: 10rem;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, $bgClr, darkslategray, $bgClr);
    font-family: 'Nunito', sans-serif;
}
.container {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Stick No Bills", sans-serif;
    // padding: 0;
    // margin: 0;
}

input {
    height: 1.5rem;
}

.tooltip {
    position: absolute;
    background: linear-gradient(hsl(210, 71%, 13%), hsl(210, 71%, 33%));
    padding: 0.25rem;
    border-radius: 0.25rem;
    pointer-events: none;
    z-index: 99999;
}
.popup {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
    >div {
        --popClr: 120;
        max-width: 21rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background: linear-gradient(hsl(var(--popClr), 100%, 50%), hsl(var(--popClr), 100%, 17%));
        box-shadow: 0 0 5px black;
    }
}

@media (min-width: 768px) {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #2c3e50;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
}

@media (max-width: 768px) {
    
}