#quoteContainer {
    align-items: center;
    background-color: black;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: background 500ms ease;
}

#quote-box {
    background: none;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    transition: all 500ms ease;
    position: relative;
    top: 0%;
    &::before {
        top: -2rem;
        left: -2rem;
        font-size: 10rem;
        position: absolute;
        content: open-quote;
    }
    &::after {
        bottom: 0rem;
        right: -2rem;
        font-size: 10rem;
        position: absolute;
        content: close-quote;
    }
}
#text {
    position: relative;
    font-size: 2rem;
}
#author {
    text-align: right;
    font-size: 1.5rem;
}

#quoteButtons {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

#new-quote {
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    transition: all 500ms ease;
    padding: 0.25rem;

    &:hover {
        background: inherit;
    }
}

#socialButtons {
    display: flex;
    svg {
    transition: all 500ms ease;
}
}

#new-quote:active {
    transform: scale(0.95);
}

.tags {
    --clr: gray;
    display: flex;
    flex-wrap: wrap;
    >span {
        padding: 0.25rem;
        margin-bottom: 0.5rem;
        background-color: var(--clr);
        color: black;
        margin-inline: 0.25rem;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: background-color 250ms ease;
        &.inActive {
            opacity: 0.5;
        }
        &.filtered {
            &::before {
                content: "";
                position: absolute;
                background: linear-gradient(red, black);
                animation: vegas 20s linear infinite;
                top: 0;
                left: 0;
                height: 60%;
                width: 120%;
                z-index: -2;
            }
            &::after {
                z-index: -1;
                position: absolute;
                content: "";
                inset: 2px;
            }
        }
        &.disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }
}
@keyframes vegas {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3600deg);
    }
}
@media screen and (min-width: 768px) {
    #quote-box {
        left: 5%;
    }
    .tags {
        >span {
            background-color: var(--clr);
            color: black;
            margin-left: 0.5rem;
            cursor: pointer;
            position: relative;
            &.filtered {
                &::after{
                    background-color: var(--clr);
                }
            }
        }
    }

    #quoteContainer {
        >div {
            position: relative;
            width: 50%;
            height: 100vh;
            padding-top: 1rem;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #quoteContainer > div {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #quoteContainer {
        min-height: 100%;
        > div {
            padding-top: 2.5rem;
            overflow-x: hidden;
        }
    }
    #quote-box {
        width: 98%;
        background-color: white;
        margin: 0 auto;
    }

    #socialButtons {
        width: 70%;
    }
    .tags {
        margin-top: 1rem;
        >span {
            background-color: white;
            color: var(--clr);
            &.filtered {
                &::after{
                    background-color: white;
                }
            }
        }
    }
}